<module>
	<rawname>generic</rawname>
	<name>Generic Module</name>
	<version>0.0.1</version>
        <publisher>Nethesis</publisher>
	<type>tool</type>
	<category>Applications</category>
	<description>Generic Dummy Module for FreePBX</description>
	<menuitems>
		<nethcqr>Dummy Module</nethcqr>
	</menuitems>
	<depends>
	</depends>
	<changelog>
                *0.0.1* First Import
	</changelog>
</module>

